In [1]:
import pandas as pd
import numpy as np
import random as r
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import ExtraTreeClassifier

from sklearn.metrics import accuracy_score as acc

In [2]:
data = pd.DataFrame()

In [3]:
k = [0,1,2]*50
r.shuffle(k)
data["gender"] = k
r.shuffle(k)
data["English"] = k
r.shuffle(k)
data["Java"] = k
r.shuffle(k)
data["Python"] = k
r.shuffle(k)
data["Machine Learning"] = k

In [4]:
j = []
for i in range(150):
    j.append(r.randint(0,10))

data["marks"] = j
data

     gender  English  Java  Python  Machine Learning  marks
0         0        2     1       1                 1      5
1         1        1     2       1                 1      5
2         2        1     0       2                 2      9
3         2        1     0       2                 1      9
4         2        0     0       2                 2      3
..      ...      ...   ...     ...               ...    ...
145       1        2     0       1                 1      1
146       2        2     2       1                 1      1
147       0        1     1       1                 1      4
148       0        2     1       2                 0     10
149       0        1     2       0                 0      6

[150 rows x 6 columns]

In [5]:
g = []
for i in range(len(data)):
    g.append(data.iloc[i].values.sum())

data["sum"] = g
data

     gender  English  Java  Python  Machine Learning  marks  sum
0         0        2     1       1                 1      5   10
1         1        1     2       1                 1      5   11
2         2        1     0       2                 2      9   16
3         2        1     0       2                 1      9   15
4         2        0     0       2                 2      3    9
..      ...      ...   ...     ...               ...    ...  ...
145       1        2     0       1                 1      1    6
146       2        2     2       1                 1      1    9
147       0        1     1       1                 1      4    8
148       0        2     1       2                 0     10   15
149       0        1     2       0                 0      6    9

[150 rows x 7 columns]

In [6]:
data.describe()

,gender,English,Java,Python,Machine Learning,marks,sum
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,1.000000,1.000000,1.000000,1.000000,1.000000,5.206667,10.206667
std,0.819232,0.819232,0.819232,0.819232,0.819232,3.162907,3.691632
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,8.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,10.000000
75%,2.000000,2.000000,2.000000,2.000000,2.000000,8.000000,13.000000
max,2.000000,2.000000,2.000000,2.000000,2.000000,10.000000,18.000000

In [7]:
data1 = data[data["sum"]>10]
data1

     gender  English  Java  Python  Machine Learning  marks  sum
1         1        1     2       1                 1      5   11
2         2        1     0       2                 2      9   16
3         2        1     0       2                 1      9   15
8         0        1     2       2                 2     10   17
9         0        2     0       1                 1      8   12
..      ...      ...   ...     ...               ...    ...  ...
134       1        1     2       2                 1      4   11
136       2        2     0       2                 2      3   11
138       0        2     0       0                 2      8   12
144       0        0     1       2                 0      8   11
148       0        2     1       2                 0     10   15

[70 rows x 7 columns]

In [8]:
target_uni = ["Data science","full-stack development","python development","aws","javascript for mobile"]
s = []
for i in range(len(data)):
    if i in data1.index:
        s.append(target_uni.index(r.choice(target_uni[:3])))
    else:
        s.append(target_uni.index(r.choice(target_uni[2:])))
s.count(4)

27

In [9]:
data["target"] = s
data

     gender  English  Java  Python  Machine Learning  marks  sum  target
0         0        2     1       1                 1      5   10       3
1         1        1     2       1                 1      5   11       1
2         2        1     0       2                 2      9   16       0
3         2        1     0       2                 1      9   15       0
4         2        0     0       2                 2      3    9       3
..      ...      ...   ...     ...               ...    ...  ...     ...
145       1        2     0       1                 1      1    6       4
146       2        2     2       1                 1      1    9       4
147       0        1     1       1                 1      4    8       3
148       0        2     1       2                 0     10   15       1
149       0        1     2       0                 0      6    9       3

[150 rows x 8 columns]

In [10]:
data.drop(columns=["sum"],inplace=True)

In [11]:
data

     gender  English  Java  Python  Machine Learning  marks  target
0         0        2     1       1                 1      5       3
1         1        1     2       1                 1      5       1
2         2        1     0       2                 2      9       0
3         2        1     0       2                 1      9       0
4         2        0     0       2                 2      3       3
..      ...      ...   ...     ...               ...    ...     ...
145       1        2     0       1                 1      1       4
146       2        2     2       1                 1      1       4
147       0        1     1       1                 1      4       3
148       0        2     1       2                 0     10       1
149       0        1     2       0                 0      6       3

[150 rows x 7 columns]

In [12]:
rfr = RandomForestClassifier()
rfr.fit(data.drop(columns=["target"]),data["target"])

RandomForestClassifier()

In [13]:
y_rfr = rfr.predict(data.drop(columns=["target"]))
acc(y_rfr,data["target"])

0.9933333333333333

In [14]:
etc = ExtraTreeClassifier()
etc.fit(data.drop(columns=["target"]),data["target"])

ExtraTreeClassifier()

In [15]:
y_etc = etc.predict(data.drop(columns=["target"]))
acc(y_etc,data["target"])

0.9933333333333333

In [16]:
import joblib

joblib.dump(etc,"3045etc.sav")

['3045etc.sav']

In [17]:
import joblib
model = joblib.load("3045etc.sav")
model.predict(np.array([0,2,2,2,2,10]).reshape(1,-1))

array([2], dtype=int64)